html{
  box-sizing: border-box;
}

body{
  margin:0;
  font-family: 'Poppins', sans-serif;
}

.loader{
  width:100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-item{
  display: flex;
  justify-content: center;
}

.hidden{
  display: none;
}